name: update

on:
  workflow_dispatch:
  schedule:
    - cron: "*/15 * * * *"

permissions:
  contents: write

jobs:
  schema:
    runs-on: ubuntu-latest
    steps:
      - id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.GH_APP_ID }}
          private_key: ${{ secrets.GH_APP_PRIVATE_KEY }}
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ steps.generate_token.outputs.token }}
      - uses: actions/setup-go@v4
      - name: Check for updates
        run: make
      - name: Push
        id: push
        env:
          GH_TOKEN: ${{ steps.generate_token.outputs.token }}
        # ID from https://api.github.com/users/authentik-automation[bot]
        run: |
          git config --global user.email "135050075+authentik-automation[bot]@users.noreply.github.com"
          git config --global user.name "authentik-automation[bot]"
          git add .
          git commit -m "Update API Client" -m "$(cat diff.test)" || exit 0
          git push
          version=$(cd version && go run .)
          git tag $version
          git push --tags
          gh release create $version -F diff.test
